@CHARSET "ISO-8859-1";


#tableForDisplayCategories {
	z-index: -1;
}

#tableForDisplayCategoriesBody tr th{
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

#tableForDisplayCategoriesBody tr th img{
	width: 100px; 
	height: 100px;
}

#tableForDisplayCategoriesBody tr th {
	border: 2px solid black;
}

#tableForDisplayCategories tr  {
	border: 2px solid black;
}

#tableForDisplayCategoriesHead {
	background-color: navy;
	margin-top: 100px;
	color: white;
	margin-bottom: -1px;
}

#tableForDisplayCategoriesHead thead tr th {
	border: 2px solid black;
	text-align: center;
}

#tableForDisplayCategoriesBody {
	height: 360px;
	overflow-y: auto;
	overflow-x: auto;
}

#tableForDisplaySubcategories {
	font-size: 20px;
	padding: 10px;
	z-index: -1;
}

#tableForDisplaySubcategories tr th{
	vertical-align: middle;
	text-align: center;
}

#tableForDisplaySubcategories  tr th img{
	width: 110px; 
	height: 110px;
}

#tableForDisplaySubcategories tr  {
	border: 2px solid black;
}

#tableForDisplayingSubcategoriesBody {
	height: 355px;
	overflow-y: auto;
	overflow-x: auto;
}

#tableForDisplaySubcategoriesHead {
	background-color: black;
	margin-top: 100px;
	color: white;
	margin-bottom: -1px;
}

#tableForDisplaySubcategoriesHead thead tr th {
	border: 2px solid black;
	text-align: center;
}

#buttonForAddingSubcategory {
	margin-top: 20px;
}

#modalForAddingSubcategory {
	margin-top: 40px;
	margin-left: 80px;
}

