@CHARSET "ISO-8859-1";

#categoriesTable { 
	z-index: -1;
}

#categoriesTable tr { 
	border: 2px solid black;
}

#categoriesTable thead tr th { 
	border: 2px solid black;
	text-align: center;
	padding-bottom: 20px;
}

#categoriesTable tr th {
	font-size:50px; 
	font-weight: bold;
}

#categoriesTable tr th img{
	width: 150px; 
	height: 150px;
}

#tableForDisplaySubcategories {
	font-size: 20px;
	padding: 10px;
	z-index: -1;
}

#tableForDisplaySubcategories tr th{
	vertical-align: middle;
	text-align: center;
}

#tableForDisplaySubcategories  tr th img{
	width: 100px; 
	height: 100px;
}

#tableForDisplaySubcategories tr  {
	border: 2px solid black;
}

#tableForDisplayingSubcategoriesBody {
	height: 355px;
	overflow-y: auto;
	overflow-x: auto;
}

#tableForDisplaySubcategoriesHead {
	background-color: black;
	margin-top: 100px;
	color: white;
	margin-bottom: -1px;
}

#tableForDisplaySubcategoriesHead thead tr th {
	border: 2px solid black;
	text-align: center;
}

#buttonForAddingSubcategory {
	margin-top: 20px;
}

#modalForAddingSubcategory {
	margin-top: 40px;
	margin-left: 80px;
}

