@CHARSET "ISO-8859-1";

#tables {
	font-size: 20px;
	position: absolute; 
	left: 20%; 
	margin: auto;
	padding: auto;
	width: 600px;
	text-align: center;
	z-index: -1;
	border-collapse: collapse;
}

#tableForInputExpenses {
	border: 4px solid black;
}

#tableForInputExpenses tr th{
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

#tableForInputExpenses tr th input{
	width: 100px;
}
#tableForInputExpenses tr th textarea{
	font-size: 15px;
	width: 300px;
	height: 100px;
}


#tableForDisplayingExpenses {
	display: block;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	
}

#tableForDisplayingExpenses tr th{
	margin: auto;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	width: 200px;
	border: 2px solid black;
}

#descriptionDiv {
	margin: auto;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
    width: 200px;
    height:50px;
    overflow-x: auto;
}

#tableForDisplayingExpensesHeader tr th {
	margin: 30px;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	border: 2px solid black;
}

#tableForDisplayingExpensesHeader {
	margin-left: 14px;
	width: 554px;
	margin-top: 50px;
	color: white;
	background-color: black;
}

#tableForDisplayingExpensesHeader th:nth-child(1) {
	width: 176px;
}

#tableForDisplayingExpensesHeader th:nth-child(2) {
	width: 180px;
}

#tableForDisplayingExpensesHeader th:nth-child(3) {
	width: 245px;
}