@CHARSET "ISO-8859-1";

#tableForDisplayExpenses {
	font-size: 20px;
	padding: 10px;
	z-index: -1;
}

#tableForDisplayExpenses tr th{
	vertical-align: middle;
	text-align: center;
	padding-bottom: 10px;
}

#tableForDisplayExpenses tr th {
	border: 2px solid black;
}

#tableForDisplayExpensesBodyContainer {
	height: 327px;
	overflow-y: auto;
	overflow-x: auto;
}

#tableForDisplayExpensesHead {
	background-color: black;
	margin-top: 100px;
	color: white;
	margin-bottom: -1px;
	
}

#tableForDisplayExpensesHead thead tr th {
	border: 2px solid black;
	text-align: center;
}

#descriptionDiv {
	margin: auto;
	padding: auto;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 45px;
    overflow-y: auto;
    overflow-x: auto;
}

#buttonForAddingExpenses {
	margin-top: 20px;
}

#modalForAddingExpenses {
	margin-top: 40px;
	margin-left: 80px;
}



