<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com" xmlns:sec="www.thymeleaf.com/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1" />

<title>Login page</title>

<link rel="stylesheet" type="text/css" th:href="@{css/sidebarStyle.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{css/styleForRegisterAndLogin.css}"/>

<link type="text/css" rel="stylesheet"
	th:href="@{bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>

<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>

<script>

	$(document).ready(function() {
	
	$("#sidebar-btn").click(function() {
	$("#sidebar").toggleClass("visible");	
	
	});
});
</script>

</head>
<body>

	<div id="sidebarInclude" th:include="sidebarMenu"> 

	</div>

	<div class="container">

		<div class="panel panel-default">
			<div class="panel-heading">Please sign in</div>
			<div class="panel-body ">
				
				<form th:action="@{login}" method="POST"
					class="form-signin col-lg-4">

				<div th:if="${errorMessage} != null" class="alert alert-danger">
					<h4 th:text="${errorMessage}" id="loginErrorMessage">
					</h4>
				</div>

					<label for="username"> Username </label> <input type="text"
						name="username" class="form-control " /> <label for="password">
						Password </label> <input type="password" name="password" class="form-control " />
					<br /> <input type="submit" value="SUBMIT"
						class="btn btn-large btn-primary" />
						
				</form>

			</div>
		</div>
	</div>
</body>
</html>