<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1" />
<title>Register</title>


<link type="text/css" rel="stylesheet"
	th:href="@{bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{jquery.min.js}">	
</script>

<script type="text/javascript"
	th:src="@{jquery_validate/jquery.validate.min.js}">
</script>

<script type="text/javascript"
	th:src="@{jquery_validate/additional-methods.min.js}">
</script>

<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}">
</script>


<script>
	$(document).ready(function() {

						$('form')
								.validate(
										{
											rules : {
												username : {
													required : true,
													rangelength : [ 6, 18 ]
												},
												email : {
													required : true,
													email : true
												},
												password : {
													required : true,
													rangelength : [ 6, 18 ]
												},
												confirm_password : {
													equalTo : "#password"
												}

											},
											messages : {
												email : {
													required : "Please enter email address",
													email : "Please enter a valid email address"
												},
												password : {
													required : "Please enter password",
													rangelength : "Password must be between 6 and 18 characters"
												},
												username : {
													required : "Please enter username",
													rangelength : "Password must be between 6 and 18 characters"
												},
												confirm_password : {
													equalTo : "Passwords don't match"
												}

											},
										});
						
						
						$("#registrationForm input").on("blur", function(){
							if($(this).valid()) {
									$(this).parent().parent().addClass("has-success");
									$(this).parent().parent().removeClass("has-error");
									$("#submit").prop("disabled", false);
									$(this).css("color", "black");
									
							} else {
 									$(this).parent().parent().removeClass("has-success");
 									$(this).parent().parent().addClass("has-error");
									$("#submit").prop("disabled", "disabled");
									$(".error").css("color", "red");
								
							}
					
						});
										
					});
</script>

</head>
<body>

	<div class="container">


		<div class="panel panel-default">
			<div class="panel-heading">Registration</div>
			<div class="panel-body">

				<form th:action="@{doregister}" method="POST" th:object="${user}"
					class="form-horizontal" id="registrationForm">

					<div class="form-group">
						<label class="col-md-2 control-label" for="username">
							Username </label>
						<div class="col-md-4">
							<input type="text" th:field="*{username}" name="username"
								id="username" class="form-control" /> <br />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="email"> Email </label>
						<div class="col-md-4">
							<input type="text" th:field="*{email}" name="email" id="email"
								class="form-control" /> <br />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="password">
							Password </label>
						<div class="col-md-4">
							<input type="text" th:field="*{password}" name="password"
								id="password" class="form-control" /> <br />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="confirm_password">
							Confirm Password </label>
						<div class="col-md-4">
							<input type="text" name="confirm_password" id="confirm_password"
								class="form-control" /> <br />
						</div>
					</div>

					<div class="form-group">
						<label for="submit" class="control-label col-md-4"> </label>
						<div class="col-md-4">
							<input type="submit" value="submit" id="submit" /> <br />
						</div>
					</div>


				</form>

			</div>
		</div>
	</div>
</body>
</html>