<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1"/>
<meta th:content="${_csrf.token}" id="csrf_token"/>

<title>Subcategories</title>

<link rel="stylesheet" type="text/css" href="colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" th:href="@{css/sidebarStyle.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{css/categoriesStyle.css}" />
<link type="text/css" rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/categoriesStyle.css}" />
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="colorpicker/js/colorpicker.js"></script>
<script type="text/javascript" src="js/colorPickerQuery.js"></script>
<script type="text/javascript" src="js/sidebar.js"></script>
<script type="text/javascript" src="js/subcategoryAjaxPost.js"></script>

</head>
<body>

<div id="sidebarInclude" th:include="sidebarMenu"></div>
	
	<div class="container">
		
		<div>
			<button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#modalForAddingSubcategory" id="buttonForAddingSubcategory">
				Add new subcategory
			</button>
		</div>
			
		<div class="modal fade" id="modalForAddingSubcategory">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<h2> Add new subcategory </h2>
					</div>
					
					<div class="modal-body">
							<table class="table">
								<tr>
									<th> 
										<div class="form-group">
											<label for="category" class="control-label"> Category </label>
												<select id="category" class="center-block">
													<option  th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>		
												</select>		
										</div>
									</th>
								</tr>
		
								<tr>
									<th> 
										 	<div class="form-group">
												<label for="nameOfTheSubcategory" class="control-label"> Name of the subcategory </label> <br/>
												<input type="text" id="nameOfTheSubcategory" name="nameOfTheSubcategor" class="form-control"/>		
										 	</div>	
									</th>
								</tr>
								
								<tr>
									<th> 
										<div class="form-group">
											<button id="colorPicker" class="btn btn-large btn-info center-block"> PICK COLOR </button>
											<input type="hidden" id="chosenColor" value="" />	
										</div>
									</th>
								</tr>
		
								<tr>
									<th> 
										<div class="form-group">
											<button id="saveBtn" class="btn btn-large btn-primary center-block" value="" > SAVE </button>	
										</div>
									</th>
								</tr>
				
							</table>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"> close </button>
					</div>
				</div>
			</div>
		</div>
			
			<div id="tableThatDisplaysSubcategories">
				
					<table class="table table-responsive" id="tableForDisplaySubcategoriesHead">
						<thead>	
							<tr>
								<th colspan="2"> <h2>All subcategories </h2> </th>
							</tr>
						</thead>
					</table>
					
			<div id="tableForDisplayingSubcategoriesBody">		
					<table class="table table-responsive" id="tableForDisplaySubcategories" th:if="${subcategories} != null">
					
						<tr th:each="subcat : ${subcategories}" th:style="'background-color :' + '' + ${subcat.getColor()} ">
	
							<th  th:text="${subcat.getName()}"></th>
							<th>
								<img th:src="@{'images/svg/' + '' + ${subcat.getCategory()} + ''  + '.svg'}" />
							</th>
						</tr>
					</table>
			</div>
			</div>
	</div>
	
</body>
</html>